{{!-- <li>
    {{burger_name}}

    <button class="changetoDevour" data-id="{{id}}" data-devournow = "{{devoured}}">
        {{#if devoured}}Devour It!{{else}}
    </button>
</li> --}}

<h1>BURGERS</h1>

<ul>
{{#each burgers}}
<li>
    {{burger_name}}

    <button class="changetoDevour" data-id="{{id}}" data-devournow = "{{devoured}}">
        {{#unless devoured}}Devour It!{{/unless}}
    </button>
</li>
{{/each}}
</ul>